.jumbotron {
  background-color: #393e41;
}

h1 {
  background-attachment: fixed;
  color: #393e41;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
footer {
  height: 10px;
}

#paralaxImage {
  background-image: url(../Images/emile-perron-xrVDYZRGdw4-unsplash.jpg);
  padding-bottom: -15px;
  border-radius: 5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  transform: translateZ(-1px) scale(1);
}

#paralaxImage1 {
  background-image: url(../Images/maik-jonietz-_yMciiStJyY-unsplash.jpg);
  border-radius: 5px;
  height: 350px;
  margin-top: 25px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(1);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 912px) and (-webkit-device-pixel-ratio: 3) {
  #paralaxImage {
    background-image: url("../Images/PhotobyTracyAdamsonUnsplash.jpg");
  }

  h1 {
    background-attachment: fixed;
    color: #ccdad1;
  }
}
