/* p {
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: black;
} */
footer {
  height: 10px;
}
.selfie {
  margin-right: 25%;
}
.box {
  max-width: 85%;
  margin: auto;
}
.homeP {
  color: black;
  width: 40%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
}
